* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', Arial, sans-serif;
}

.staff {
    margin-top: 50px;
    margin-left: 100px;
}

.note-info-wrapper {
    overflow: hidden;
    height: 50vh;
}

.note-info {
    height: 100%;
    color: black;
    display: flex;
    align-items: left;
    transition: 500ms ease;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 3vw;
}

.correct {
    color:rgb(12, 50, 12);
    filter: invert(50%) sepia(30%) saturate(1000%) hue-rotate(74deg) brightness(50%) contrast(100%);
}

.wrong {
    color:rgb(106, 19, 13);
    filter: invert(20%) sepia(30%) saturate(1500%) brightness(50%) contrast(100%) hue-rotate(300deg) ;
}

.whole-note {
    position: relative;
}

.whole-note-line {
    position: relative;
}

.accidental {
    position: relative;
}
